[Unit]
Description=Displaying the current temperature and utilization on the Deepcool AK620 and AK500S CPU cooler

[Service]
Type=simple
User=root
ExecStart=/usr/bin/deepcool-ak620-digital
Restart=always

[Install]
WantedBy=default.target
